<h1> Welcome! Please sign up to Chitter</h1>

  <form action='/users' method='post'>

    <label for='email'>
      Email:
      <input type="email" name="email">
    </label>

    <label for='password'>
      Password:
      <input type="password" name='password'>
    </label>

    <label for='password_comfirmation'>
      Confirm Password:
      <input type='password' name='password_comfirmation'>
    </label>

    <input type='submit' value="Sign up">
  </form>
